#section-menu ul.menu {
    display: block;
    padding: 0;
    margin: 0;
}

#section-menu ul.menu li.item {
    display: block;
    margin: 0;
    padding: 1em;
    background-color: #2c2c34;
    background-image: url(section-menu-arrow-right.png);
    background-position: right 1em center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#section-menu ul.menu li.item:hover,
#section-menu ul.menu li.item.active {
    background-color: #8a3a43;
}

#section-menu ul.menu li.item a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 970px) {

    #section-menu ul.menu li.item {
        padding: 1em 10em 1em 1em;
    }

}