#content {
    padding: 0;
}

#content > .grid {
    padding: 2em;
}

#main #content .header {
    padding: 0;
}

#content #news-section {
    padding: 0;
}

#content .grid h2 {
    margin-top: 0;
}

#content #company-section {
    padding-left: 0;
    background-image: url(/upload/content/front-page-bg.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content #company-section {
    padding: 6em 0;
    padding-bottom: 8em;
}

#content #company-section .wrapper {
    background-color: #151821;
    opacity: 0.8;
    padding: 2em;
}

#hopper-car {
    width: 100%;
    margin-top: -12em;
    margin-bottom: -4em;
    z-index: -3;
    position: relative;
}

@media screen and (max-width: 568px) {

    #hopper-car {
        margin-top: -6em;
        margin-bottom: -2em;
    }

}

#service-info {
    background-color: #2B2B33;
}

#content #production-section {
    padding-bottom: 4em;
}

#production-section div.header {
    margin: 3em 4em;
}

#production-section div.header h2 {
    width: 65%;
}

#production-section div.header p {
    width: 75%;
}

#content #tech-section {
    position: relative;
    border-top: 1px solid #39383F;
    padding-right: 7em;
    overflow: hidden;
    height: 100%;
}

#tech-section div.description {
    padding-left: 10%;
    padding-right: 4%;
}

#tech-section span.note {
    position: absolute;
    bottom: 6%;
    left: 5.5em;
    font-size: 9pt;
}

#tech-section #production,
#tech-section #repairs {
    position: absolute;
    background-color: rgba(44,44,52,0.9);
    right: 0;
    width: 25%;
    padding: 4em 3em;
    margin: -2em 0;
    height: inherit;
}

#tech-section a.close-btn {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 2em;
}

#tech-section a.more {
    display: block;
    margin-top: 3em;
}

@media screen and (max-width: 1020px) {

    #tech-section #production,
    #tech-section #repairs {
        width: 28%;
        padding: 2em 2em 7em 2em;
    }

    #tech-section a.more {
        margin-top: 1em;
    }

    #tech-section a.close-btn {
        margin-bottom: 1em;
    }

    #production h2 {
        font-size: 21pt;
    }

    #tech-section span.note {
        bottom: 4%;
    }
}


@media screen and (max-width: 900px) {

    #tech-section #production,
    #tech-section #repairs {
        width: 33%;
    }

}

@media screen and (max-width: 800px) {

    #tech-section #production,
    #tech-section #repairs {
        width: 39%;
    }

    #tech-section span.note {
        bottom: 2%;
    }

}

@media screen and (max-width: 568px) {

    #tech-section #production,
    #tech-section #repairs {
        position: relative;
        background: none;
        padding: 3em 2em;
        height: auto;
        width: 100%;
    }

}

@media screen and (max-width: 360px) {

    #tech-section #production,
    #tech-section #repairs {
        padding: 4em 1em;
    }

}