#main-menu ul.menu {
    padding: 0;
    padding-left: 1em;
}

#main-menu ul.menu li {
    padding: 0;
    margin: 1em 0;
}

#main-menu ul.menu li a {
    color: white;
    text-decoration: none;
}

#main-menu ul.menu li.active ul {
    display: inherit;
}

#main-menu ul.menu li.parent ul {
    position: relative;
    list-style: none;
    display: none;
}

#main-menu ul.menu li.parent ul:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    background-color: white;
    height: 100%;
    padding-top: 1em;
    left: -0.75em;
    top: -1.5em;
}

.bx-chrome #main-menu ul.menu li.parent ul:before {
    left: -1em;
}

#main-menu ul.menu li.parent ul:after {
    content: '';
    display: list-item;
    list-style: disc;
    position: absolute;
    bottom: 0;
}

#main-menu ul.menu ul {
    padding: 0;
    display: none;
}

#main-menu ul.menu ul li {
    margin-left: 0;
    font-size: 9pt;
    list-style: none;
}

#main-menu ul.menu ul li a {
    opacity: 0.85;
}

#main-menu ul.menu ul li:hover a {
    opacity: 1;
}

#mobile-menu {
    display: none;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 3em;
}

@media screen and (max-width: 568px) {

    #main-menu .desktop-only {
        display: none;
    }

}