#frontpage-news-description {
    background-color: white;
    color: black;
    padding: 3em 4em
}

#frontpage-news .news-list {
    display: block;
    overflow: hidden;
}

#frontpage-news .news-list .item {
    display: block;
    float: left;
    width: 50%;
    height: 18em;
    background-color: #2c2c34;
    color: white;
}

#frontpage-news .news-list .item .image {
    float: left;
    margin-right: 1em;
    width: 50%;
}

#frontpage-news .news-list .item h3 {
    margin-top: 0;
    text-transform: none;
    font-weight: normal;
    font-size: 10pt;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#frontpage-news .news-list .item h3 a {
    color: white;
    font-weight: normal;
}

#frontpage-news .news-list .item .date {
    font-size: 9pt;
}

#frontpage-news .news-list .item .content {
    padding: 1em;
    font-size: 9pt;
}

#frontpage-news .news-list .item .content a {
    text-decoration: none;
    color: white;
}

#frontpage-news .news-list .item .content a:hover {
    text-decoration: underline;
}

#frontpage-news-more-link {
    padding: 2em;
}

#frontpage-news-years {
    padding: 2em;
}

#frontpage-news-years:after {
    display: block;
    border-top: 1px solid white;
    content: ' ';
}

#frontpage-news-years .caret {
    position: relative;
    top: 3px;
    display: block;
    width: 60px;
    height: 5px;
    background: #8a3a43;
    cursor: ew-resize;
}

#frontpage-news-years-list {
    display: table;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
}

#frontpage-news-years-list .year {
    display: table-cell;
    margin: 0;
    text-align: center;
}

#frontpage-news-years-list .year a {
    color: #858383;
    font-size: 8pt;
}

#frontpage-news-years-list .year a.active,
#frontpage-news-years-list .year a:hover {
    color: white;
}

#frontpage-news .slick-slide {
    height: inherit;
}

#frontpage-news .slick-active .item {
    border-top: 1px solid white;
}

/* ion.rangeSlider */

.range-slider {
    position: relative;
    margin: auto;
    width: 95%;
    height: 80px;
}

.range-slider .irs-line {
    height: 1px;
}

.range-slider .irs-slider {
    position: relative;
    top: -24px;
    display: block;
    width: 60px;
    height: 5px;
    background: #8a3a43;
    cursor: ew-resize;
}

.range-slider .irs-bar,
.range-slider .irs-single,
.range-slider .irs-bar-edge,
.range-slider .irs-grid-pol {
    display: none;
}

.range-slider .irs-grid-text {
    bottom: 57px;
    color: #858383;
    font-size: 12px;
}

.range-slider .irs-grid-text:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.irs {
    height: 55px;
}

.irs-with-grid {
    height: 75px;
}

.irs-line {
    top: 33px;
    height: 10px;
  /*  border: 1px solid #CCC;*/
    -moz-border-radius: 16px; /* W3C */
    border-radius: 16px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%);
}

.irs-line-left {
    height: 8px;
}

.irs-line-mid {
    height: 8px;
}

.irs-line-right {
    height: 8px;
}

.irs-shadow {
    top: 38px;
    height: 2px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    opacity: 0.3;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 25px;
    width: 27px;
    height: 27px;
   /* border: 1px solid #AAA;*/
    -moz-border-radius: 27px;
    border-radius: 27px; /* W3C */
    background: #DDD;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 20%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/*
.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}
*/

.irs-min, .irs-max {
    top: 0;
    padding: 1px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    color: #333;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.333;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    padding: 1px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #428bca;
    color: #fff;
    text-shadow: none;
    font-size: 14px;
    line-height: 1.333;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}

.irs-grid-pol {
    background: #428bca;
    opacity: 0.5;
}

.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}


.range-slider .irs-grid-text.year-active {
    color: white;
}