#contacts-menu ul.menu {
    padding: 0;
}

#contacts-menu ul.menu li {
    display: block;
    padding: 0;
    margin: 0.5em 0;
}

#contacts-menu ul.menu li a {
    color: #858383;
}

#contacts-menu ul.menu li a.active {
    color: white;
}