.bx_catalog-compare-list {
    z-index: 998;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 8px 0;
    max-height: 100%;
    width: 270px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .18);
    color: #404040;
    white-space: normal;
    font-size: 12px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.bx_catalog-compare-list.fix {
    position: fixed;
}

.bx_catalog-compare-list.top {
    top: 5px;
}

.bx_catalog-compare-list.right {
    right: 5px;
}

.bx_catalog-compare-list.bottom {
    bottom: 5px;
}

.bx_catalog-compare-list.left {
    left: 5px;
}

.bx_catalog-compare-list .bx_catalog_compare_form {
}

.bx_catalog-compare-list:hover .bx_catalog_compare_form {
}

.bx_catalog-compare-list a {
    color: #327ab7;
    font-size: 11px;
}

.bx_catalog-compare-list a:hover {
    text-decoration: none;
}

.bx_catalog_compare_count p {
    margin: 0 0 10px 0;
}

.bx_catalog_compare_count p.compare-redirect {
    text-align: center;
    font-weight: bold;
}

.bx_catalog-compare-list .compare-items td {
    padding-bottom: 10px;
    vertical-align: top;
    font-weight: bold;
    font-size: 12px;
}