@font-face {
    font-family: 'Cera Stencil';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/CeraStencilRegular.eot');
    src: url('fonts/CeraStencilRegular.eot') format('embedded-opentype'),
    url('fonts/CeraStencilRegular.woff2') format('woff2'),
    url('fonts/CeraStencilRegular.woff') format('woff'),
    url('fonts/CeraStencilRegular.ttf') format('truetype'),
    url('fonts/CeraStencilRegular.svg#CeraStencilRegular') format('svg');
}

@font-face {
    font-family: 'Cera Stencil';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/CeraStencilBold.eot');
    src: url('fonts/CeraStencilBold.eot') format('embedded-opentype'),
    url('fonts/CeraStencilBold.woff2') format('woff2'),
    url('fonts/CeraStencilBold.woff') format('woff'),
    url('fonts/CeraStencilBold.ttf') format('truetype'),
    url('fonts/CeraStencilBold.svg#CeraStencilBold') format('svg');
}

@font-face {
    font-family: 'Cera Stencil';
    font-weight: 200;
    font-style: normal;
    src: url('fonts/CeraStencilLight.eot');
    src: url('fonts/CeraStencilLight.eot') format('embedded-opentype'),
    url('fonts/CeraStencilLight.woff2') format('woff2'),
    url('fonts/CeraStencilLight.woff') format('woff'),
    url('fonts/CeraStencilLight.ttf') format('truetype'),
    url('fonts/CeraStencilLight.svg#CeraStencilLight') format('svg');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Cera Stencil';
    src: url('fonts/CeraStencilMedium.eot');
    src: url('fonts/CeraStencilMedium.eot') format('embedded-opentype'),
    url('fonts/CeraStencilMedium.woff2') format('woff2'),
    url('fonts/CeraStencilMedium.woff') format('woff'),
    url('fonts/CeraStencilMedium.ttf') format('truetype'),
    url('fonts/CeraStencilMedium.svg#CeraStencilMedium') format('svg');
}

@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: 'Cera Stencil';
    src: url('fonts/CeraStencilThin.eot');
    src: url('fonts/CeraStencilThin.eot') format('embedded-opentype'),
    url('fonts/CeraStencilThin.woff2') format('woff2'),
    url('fonts/CeraStencilThin.woff') format('woff'),
    url('fonts/CeraStencilThin.ttf') format('truetype'),
    url('fonts/CeraStencilThin.svg#CeraStencilThin') format('svg');
}

.cera {
    font-family: 'Cera Stencil', Arial, Helvetica, sans-serif;
}