body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: #161922;
    color: white;
    font-size: 10pt;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Cera Stencil', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    margin-top: 0.85em;
    margin-bottom: 0.65em;
    letter-spacing: -0.05em;
}

h5 {
    font-size: 16pt;
}

h4 {
    font-size: 18pt;
}

h3 {
    font-size: 20pt;
}

h2 {
    font-size: 22pt;
}

h1 {
    font-size: 26pt;
}

p {
    margin: 0.5em 0;
}

a {
    color: #067cbf;
}

a[href*='tel'] {
    color: inherit;
    text-decoration: none;
}

ul li,
ol li {
    margin: 0.5em;
}

hr {
    border: none;
    border-top: 1px solid #858383;
}

button, select {
    cursor: pointer;
    border: none;
}

input, button, select, textarea {
    color: black;
    font-family: 'Lato';
    font-weight: 100;
    padding: 0.5em;
    border: none;
}

button,
input[type="button"],
input[type="search"],
input[type="submit"],
input[type="reset"],
a.button {
    border: 1px solid #8a3a43;
    background-color: #8a3a43;
    padding: 0.5em 1.5em;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato';
    font-weight: 100;
    margin-right: 1em;
}

input[type="submit"] {
    border: none;
}

button:focus,
input[type="button"]:focus,
input[type="search"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    border: 1px solid #471e22;
    background-color: #471e22;
}

button:hover,
input[type="button"]:hover,
input[type="search"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
a.button:hover {
    border: 1px solid #a94752;
    background-color: #a94752;;
}

button.transparent,
input.transparent,
a.button.transparent {
    background: transparent;
    background-color: transparent;
    border: 1px solid white;
}

/* utils */

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.title {
    margin-top: 0;
}

.dark-red {
    color: #8a3a43;
}

ul.inline li {
    display: inline;
}

/* content */

img.pull-left {
    margin-right: 1em;
    margin-bottom: 1em;
}

img.pull-right{
    margin-left: 1em;
    margin-bottom: 1em;
}

/* fixes */
input[type="button"]:focus,
input[type="button"]::-moz-focus-inner,
input[type="reset"]:focus,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]:focus,
input[type="submit"]::-moz-focus-inner,
img:focus,
img::-moz-focus-inner,
button:focus,
button::-moz-focus-inner,
a:focus,
a::-moz-focus-inner,
select:focus,
select::-moz-focus-inner {
    outline: none;
}

select:focus, option:focus, select::-moz-focus-inner, option::-moz-focus-inner {
    outline: none;
    border: none;
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
}
/* icon buttons */

a.button.icon-video {
    background: none transparent;
    background-image: url(../img/icon-video.png);
    background-repeat: no-repeat;
    background-position: left 1em center;
    padding-left: 64px;
}

/* block icons */

div.icon {
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0.25em 0;
    padding-left: 48px;
}

div.icon.icon-location {
    background-image: url(../img/icon-location.png);
}

div.icon.icon-phone {
    background-image: url(../img/icon-phone.png);
}

div.icon.icon-mail {
    background-image: url(../img/icon-mail.png);
}

/* Responsive */

@media screen and (max-width: 568px) {

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    .no-center {
        text-align: left !important;
    }

}

@media screen and (max-width: 800px) {

    a.button.icon-video {
        padding: 0.5em 3.5em;
        margin-top: 0.5em;
    }

}