@font-face {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/LatoRegular.eot');
    src: url('fonts/LatoRegular.eot') format('embedded-opentype'),
         url('fonts/LatoRegular.woff2') format('woff2'),
         url('fonts/LatoRegular.woff') format('woff'),
         url('fonts/LatoRegular.ttf') format('truetype'),
         url('fonts/LatoRegular.svg#LatoRegular') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/LatoBold.eot');
    src: url('fonts/LatoBold.eot') format('embedded-opentype'),
         url('fonts/LatoBold.woff2') format('woff2'),
         url('fonts/LatoBold.woff') format('woff'),
         url('fonts/LatoBold.ttf') format('truetype'),
         url('fonts/LatoBold.svg#LatoBold') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/LatoBoldItalic.eot');
    src: url('fonts/LatoBoldItalic.eot') format('embedded-opentype'),
         url('fonts/LatoBoldItalic.woff2') format('woff2'),
         url('fonts/LatoBoldItalic.woff') format('woff'),
         url('fonts/LatoBoldItalic.ttf') format('truetype'),
         url('fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/LatoItalic.eot');
    src: url('fonts/LatoItalic.eot') format('embedded-opentype'),
         url('fonts/LatoItalic.woff2') format('woff2'),
         url('fonts/LatoItalic.woff') format('woff'),
         url('fonts/LatoItalic.ttf') format('truetype'),
         url('fonts/LatoItalic.svg#LatoItalic') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
    src: url('fonts/LatoLight.eot');
    src: url('fonts/LatoLight.eot') format('embedded-opentype'),
         url('fonts/LatoLight.woff2') format('woff2'),
         url('fonts/LatoLight.woff') format('woff'),
         url('fonts/LatoLight.ttf') format('truetype'),
         url('fonts/LatoLight.svg#LatoLight') format('svg');
}

@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: italic;
    src: url('fonts/LatoLightItalic.eot');
    src: url('fonts/LatoLightItalic.eot') format('embedded-opentype'),
         url('fonts/LatoLightItalic.woff2') format('woff2'),
         url('fonts/LatoLightItalic.woff') format('woff'),
         url('fonts/LatoLightItalic.ttf') format('truetype'),
         url('fonts/LatoLightItalic.svg#LatoLightItalic') format('svg');
}

.lato {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}