#page {
    position: relative;
}

#page.grid {
    max-width: 1280px;
}

@media screen and (min-width: 568px) {

    #header {
        position: absolute;
        height: 100%;
    }

    #main {
        margin-left: 25%;
    }

    #header #site-name {
        text-align: center;
    }

}

#header, #main {
    padding: 0;
}

#hidden, .hidden {
    display: none;
}

#header {
    background-image: url(../img/pattern.png);
}

#header .wrapper {
    padding: 0 2.8em 0 2em;;
    height: 100%;
    position: fixed;
}

@media screen and (max-width: 1155px) {

    #header .wrapper {
        padding-bottom: 1em;
        position: relative;
    }
}

@media screen and (max-width: 568px) {

    #header .wrapper {
        margin-bottom: 2em;
    }
}

#header #site-name {
    font-size: 14pt;
    margin-bottom: 2em;
}

#header #site-description {
    padding-top: 2em;
}

#content {
    padding: 2em;
}

#content h1 {
    margin-top: 0;
}

#footer {
    margin: 2em;
    padding-top: 1.5em;
    border-top: 1px solid #3e3d44;
    font-size: 8pt;
}

*:focus{
    outline: none;
}