#search-form {
    margin: 2em 0 0 0;
}

#search-form input {
    background-color: #2c2c34;
    color: white;
    width: 68%;
    height: 1.5em;
    padding: 0.6em 0.5em 0.6em 3em;
    line-height: 1.5em;
}

#search-form input::-webkit-input-placeholder {
    text-align: center;
    background-image: url("search-bg.png");
    background-repeat: no-repeat;
    background-position: 20% 49%;
}
#search-form input::-moz-placeholder {
    text-align: center;
    background-image: url("search-bg.png");
    background-repeat: no-repeat;
    background-position: 30% center;
}
#search-form input:-moz-placeholder {
    text-align: center;
    background-image: url("search-bg.png");
    background-repeat: no-repeat;
    background-position: 30% center;
}
#search-form input:-ms-input-placeholder {
    text-align: center;
    background-image: url("search-bg.png");
    background-repeat: no-repeat;
    background-position: 30% center;
}


@media screen and (max-width: 1155px) {

    #search-form input {
        width: 73%;
    }

}

@media screen and (max-width: 1140px) {

    #search-form input::-webkit-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 15% 49%;
    }
    #search-form input::-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 22% center;
    }
    #search-form input:-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 22% center;
    }
    #search-form input:-ms-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 22% center;
    }

}


@media screen and (max-width: 980px) {

    #search-form input {
        width: 67%;
    }

}

@media screen and (max-width:900px)  {

    #search-form input::-webkit-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 5% 49%;
    }
    #search-form input::-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 12% center;
    }
    #search-form input:-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 12% center;
    }
    #search-form input:-ms-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 12% center;
    }

}


@media screen and (max-width: 800px) {
    #search-form input {
        width: 82%;
        padding: 0.6em 0.5em;
    }
}

@media screen and (max-width: 775px) {

    #search-form input::-webkit-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 0 49%;
    }
    #search-form input::-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 0 center;
    }
    #search-form input:-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 0 center;
    }
    #search-form input:-ms-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 0 center;
    }
}

@media screen and (max-width: 750px) {
    #search-form input {
        width: 85%;
        padding: 0.6em 0.5em;
    }
}

@media screen and (max-width: 640px) {
    #search-form input {
        width: 100%;
        padding: 0.6em 0.9em;
    }
}

@media screen and (max-width: 625px) {
    #search-form input {
        width: 100%;
        padding: 0.6em 0.9em;
    }
}

@media screen and (max-width: 568px) {

    #search-form input::-webkit-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 30% 49%;
    }
    #search-form input::-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 30% center;
    }
    #search-form input:-moz-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 30% center;
    }
    #search-form input:-ms-input-placeholder {
        text-align: center;
        background-image: url("search-bg.png");
        background-repeat: no-repeat;
        background-position: 30% center;
    }

    #search-form input {
        width: 15.5em;
    }

}

#search-form form {
    margin: 0 0 0.5em 0;
}