#breadcrumb {
    font-size: 9pt;
    margin: 2em 0;
}

#breadcrumb a.first {
    padding-left: 22px;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: left center;
}