#feedback-form .feedback-form-field {
    margin: 1em 0;
}

#feedback-form .feedback-form-field input {
    width: 70%;
}

#feedback-form .feedback-form-field textarea {
    width: 70%;
}

#feedback-form .feedback-form-field input,
#feedback-form .feedback-form-field textarea {
    border: 1px solid white;
    background: none transparent;
    color: white;
    max-width: 90%;
}

#feedback-form .feedback-form-field textarea {
    resize: none;
}

#feedback-form input[type="submit"] {
    background-image: url(../../../../img/icon-mail.png);
    background-position: left 1em center;
    background-repeat: no-repeat;
    padding-left: 64px;
    padding-top: 1em;
    padding-bottom: 1em;
    /*width: 17em;*/
    width: 52%;
    border: 1px solid #8a3a43;
    max-width: 100%;
    margin: 0;
}

@media screen and (max-width: 850px) and (min-width: 569px) {

    #feedback-form input[type="submit"] {
        width: 11em;
    }
}
