#content {
    position: relative;
}

#catalog-section .list {
    display: inline;
}

#catalog-section .list .item {
    display: inline;
    position: relative;
}

#catalog-section .list .item .title {
    color: white;
}

#catalog-section-description .half.unit {
    float: none;
    margin: 1.25em auto;
}

#catalog-section-description {
/*    height: 22em;*/
    overflow: hidden;
    margin-bottom: 2em;
}

#catalog-section-image {
    margin-bottom: -4em;
}

@media screen and (max-width: 964px ) {

    #catalog-section-image {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 730px ) {

    #catalog-section-image {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 585px ) {

    #catalog-section-image {
        margin-bottom: 4em;
    }
}

#catalog-section-gallery {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2c2c34;
    z-index: 100;
}

#catalog-section-gallery .slider {
    width: 75%;
    margin: auto;
}

#catalog-section-gallery .slick-track {
    margin: auto;
}

#catalog-section .slider .item {
    opacity: 0.3;
    margin-top: 2em;
}

#catalog-section .slider .item.slick-current {
    opacity: 1;
}

#catalog-section .slider .item .title a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;;
    font-size: 10pt;
    text-transform: none;
}

#catalog-section .slider .item.slick-current .title a {
    color: #8a3a43;
}

#catalog-section-gallery .item {
    text-align: center;
}

#catalog-section-gallery .item img {
    display: inline;
}

#catalog-section-gallery {
    border-bottom: 1px solid #C8C8CA;
}

#catalog-section-items-list .list .item:before {
    content: '|';
    padding-right: 0.5em;
    position: absolute;
    left: -0.75em;
}

#catalog-section-items-list .list .item.first:before {
    content: '';
}
