#main {
    position: relative;
}

#main #content .header {
    position: absolute;
}

#main #content .car .header {
    position: absolute;
    width: 100%;
}

#page #content {
    position: relative;
    padding: 0;
}

#page #content .header {
    padding: 2em;
}

#container {
    width: 100%;
    height: 600px;
}

section#3dview {
    margin-top: -2em;
}

#slider {
    top: -12em;
    margin: 1em auto;
    width: 50%;
    height: 1px;
    border: none;
    background: white none;
}

#slider .ui-slider-handle {
    top: -1.5em;
    width: 44px;
    height: 44px;
    border: none;
    background: transparent url('images/slider.png');
}

#short-properties .list {
    display: table;
    margin: 1em auto;
    padding: 1em 0.5em;
    width: 80%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#short-properties .list .item {
    position: relative;
    display: table-cell;
    padding-right: 1em;
    text-align: center;
}

#short-properties .list .item .title {
    text-transform: uppercase;
    font-size: 10pt;
}

#short-properties .list .item .value {
    display: block;
    text-align: center;
    font-size: 22pt;
}

#short-properties .list .item:before {
    position: absolute;
    top: 0.3em;
    left: -0.5em;
    padding-right: 1em;
    content: '|';
    font-size: 22pt;
}

#short-properties .list .first.item:before {
    content: '';
}


#description, #properties, #gallery {
    padding: 2em 11.5em 1em 4em;
}

.aside .button.call {
    padding: 1em 1.5em;
    position: relative;
    z-index: 100;
}


#properties {
    padding-top: 0;
}

#description, #properties table {
    width: 100%;
}

#properties table tr th,
#properties table tr td {
    padding: 1em;
}

#properties table tr th {
    border-right: 1px solid white;
    background-color: #2C2C34;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#properties table tr.property.title td {
    text-transform: uppercase;
}

#properties table tr td {
    border-right: 1px solid white;
}

#properties table tr .name {
    text-align: left;
}

#properties table tr .value {
    text-align: center;
}

#properties table tr.odd {
    background-color: #BABABA;
}


#section-elements {
    padding-right: 1em;
}

#section-elements ul.list li.item {
    position: relative;
}

#section-elements ul.list li.item a {
    color: white;
}

#section-elements ul.list li.item.active a {
    opacity: 0.5;
}

#section-elements ul.list li.item.active a:hover {
    opacity: 1;
}

#section-elements ul.list li.item.active li.item {
    list-style: none;
}

#section-elements ul.list li.item:before {
    position: absolute;
    left: -0.75em;
    padding-right: 0.5em;
    content: '|';
}

#section-elements ul.list li.item.first:before {
    content: '';
}

#spritespin {
    margin: auto;
    width: 80%;
}

#links {
    margin-top: -13em;
    padding: 4em 11.5em 2em 2em;
}

#links .call {
    position: relative;
    z-index: 100;
}

#section-elements ul.inline {
    margin-bottom: 0;
}

#gallery ul.list {
    padding: 0;
}

#gallery ul.list li.item {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25%;
}

#gallery ul.list li.item a {
    position: relative;
    display: block;
}

#gallery ul.list li.item a img {
    display: block;
    width: 100%;
}

#gallery ul.list li.item a:before {
    position: absolute;
    top: 0;
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
    background: #2C2C34 url("images/zoom.png") no-repeat center center;
    content: '';
    opacity: 0;
    transition: opacity 0.5s ease;
}

#gallery ul.list li.item:hover a:before {
    opacity: 0.85;
}

#content .background-white {
    background-color: white;
    color: black;
}

aside a.call {
    margin-left: 2em;
    padding: 1em 1.5em;
}

aside.background-white a.call {
    margin: 1em 0 2em 3.3em;
}

#short-properties .tonn:after,
#properties tr.carry_weight td.value:after,
#properties tr.tare_weight td.value:after {
    content: ' т'
}

#short-properties .millimeter:after,
#properties tr.joint_axis_length td.value:after,
#properties tr.base_wight td.value:after,
#properties tr.halfcar_width td.value:after,
#properties tr.rail_offset_height td.value:after,
#properties tr.width_top_in_light td.value:after,
#properties tr.height td.value:after,
#properties tr.length_top_in_light td.value:after,
#properties tr.rail_width td.value:after {
    content: ' мм'
}

#short-properties .cubic-meter:after,
#properties tr.car_volume td.value:after {
    content: ' м³'
}

#properties tr.speed_gost td.value:after {
    content: ' км/ч'
}

#properties tr.resourse td.value:after {
    content: ' тыс.км'
}

#consultation-form {
    background-color: white;
    color: black;
    text-align: center;
}

#consultation-form .title {
    text-transform: uppercase;
    font-size: 16pt;
    font-family: 'Cera Stencil', Arial, Helvetica, sans-serif;
}

#consultation-form .label {
    display: inline-block;
    width: 6em;
}

#consultation-form input[type="text"],
#consultation-form textarea {
    border: 1px solid #2C2C34;
}

#consultation-form .consultation-form-field {
    margin: 1em 0;
}

#consultation-form .consultation-form-field input {
    width: 16em;
}

#consultation-form .consultation-form-field textarea {
    width: 16em;
    resize: none;
}

#view-wrap {
    padding-top: 10em;
    background: url("images/scene.jpg") no-repeat center top;
}

@media screen and (max-width: 980px) {

    #page #content .header {
        padding: 0;
    }

    #container {
        height: 441px;
    }

    #view-wrap {
        padding-top: 4em;
        padding-bottom: 3em;
        position: relative;
        background-size: cover;
    }

    #main #content .car .header {
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    #links {
        padding: 2em;
        position: absolute;
        bottom: 0
    }

    #spritespin {
        top: 4em;
    }

    #slider {
        position: absolute;
        top: 28em;
        left: 25%;
    }
}

@media screen and (max-width: 750px) {

    #container {
        height: 351px;
    }

    #view-wrap {
        padding-top: 5em;
    }

    #links {
        padding: 1em;
    }

    #spritespin {
        top: 3em;
    }

    #slider {
        top: 23em;
        margin-bottom: 2em;
    }

    #short-properties .list .item .value {
        font-size: 12pt;
    }

    #short-properties .list .item .title {
        font-size: 9pt;
    }

    #short-properties .list {
        padding: 0.5em 0.5em;
    }

}


@media screen and (max-width: 680px) {

    #container {
        height: 294px;
    }

    #view-wrap {
        padding-bottom: 9em;
    }

    #spritespin {
        top: 7em;
    }

    #slider {
        position: absolute;
        top: 25em;
    }
}


@media screen and (max-width: 652px) {

    #view-wrap {
        padding-bottom: 10em;
    }

    #spritespin {
        top: 8em;
    }

    #slider {
        top: 26em;
        left: 25%;
    }

}

@media screen and (max-width: 652px) {

    #view-wrap {
        padding-top: 1em;
        padding-bottom: 9em;
    }

    #links {
        padding: 0.5em;
    }

    #slider {
        top: 21em;
    }
}

@media screen and (max-width: 568px) {

    #view-wrap {
        padding-top: 9em;
        padding-bottom: 4em;
    }

    #page #content .header {
        padding: 0;
    }

    #short-properties .list .item {
        display: block;
        list-style: none;
    }

    #short-properties .list .item:before {
        content: '';
    }

    #description, #properties, #gallery {
        padding: 2em;
    }

    #properties table tr th,
    #properties table tr td {
        padding: 0.15em;
    }

    aside a.call {
        margin-left: 0;
    }

    #spritespin {
        top: 3em;
        height: 400px;
    }

    #section-elements {
        margin-top: 1em;
    }

    #properties table .property.title {
        padding: 0.3em;
        font-weight: bold;
    }

    #content aside.background-white a.call {
        margin: 2em;
    }

    #container {
        height: 400px;
    }

    #main #content .car .header {
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    #links {
        padding: 2em;
        position: absolute;
        bottom: 0
    }

    #links .call {
        top: 4em;
    }

    #slider {
        position: absolute;
        top: 30em;
        left: 25%;
    }
}

@media screen and (max-width: 510px) {

    #view-wrap {
        padding-top: 11em;
        padding-bottom: 4em;
    }

}


@media screen and (max-width: 360px) {

    #view-wrap {
        padding-top: 10em;
        padding-bottom: 6em;
    }

    #container #spritespin {
        top: 4em;
        height: 270px;
    }

    #links .call {
        top: 0;
    }

    #description, #properties, #gallery {
        padding: 0.2em;
    }

}