div.reviews-info-box {
    margin-bottom: 2em;
    padding: 0.5em 1.117em;
    border-width: 1px;
    border-style: solid;
    line-height: 1.5em;
    zoom: 1;
}

/* Header */
div.reviews-header-box {
    padding: 0.462em 1.117em;
    vertical-align: middle;
    font-size: 1em;
}

/* Link to forum */
div.reviews-link-box {
    margin-bottom: 1em;
    padding: 0.462em;
    vertical-align: middle;
    font-size: 1em;
}

/* Page navigation */
div.reviews-navigation-box {
    overflow: hidden;
    padding: 0 1.117em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 1.5em;
    zoom: 1;
}

div.reviews-navigation-bottom {
    margin-top: 0;
    margin-bottom: 2em;
    border-top: none;
}

/* Topic posts table */
table.reviews-post-table {
    margin-bottom: 0.7em;
    padding: 1px 3px 1px 0;
    width: 100%;
    border-bottom: 1px solid #dadada;
    table-layout: fixed;
    line-height: 1.5em;
}

table.reviews-post-hidden {
    background: none repeat scroll 0 0 #E5F8E3 !important;
}

table.reviews-post-table thead td {
    color: #7e7e7e;
}

table.reviews-post-table thead td {
    line-height: 30px;
}

table.reviews-post-table thead td, table.reviews-post-table tbody td div.reviews-text {
    padding-top: 0.5em;
}

table.reviews-post-table thead td .message-post-date {
    font-size: 0.85em;
}

table.reviews-post-table thead td .review-avatar {
    float: left;
    margin-right: 0.5em;
    width: 30px;
    height: 30px;
    border: 1px solid #C4C4C4;
    background-color: #ECEAEC;
}

table.reviews-post-table thead td .review-rating {
    float: right;
}

table.reviews-post-table thead td .review-rating .rating-vote {
    line-height: 24px;
}

/* First Post Table */
table.reviews-post-first {
}

/* Odd Post Table */
table.reviews-post-odd {
}

/* Even Post Table */
table.reviews-post-even {
}

/* Last Post Table */
table.reviews-post-last {
    margin-bottom: 0;
}

/* Post Table Cell */
table.reviews-post-table td {
    padding: 0;
    vertical-align: top;
}

/* Post Table: Post and Actions Cell */
table.reviews-post-table td.reviews-cell-post, table.reviews-post-table td.reviews-cell-actions {
    border-right-width: 1px;
    border-right-style: solid;
}

/* Post Table: User Contacts and Actions Cell */
table.reviews-post-table td.reviews-cell-contact, table.reviews-post-table td.reviews-cell-actions {
    height: 1.5em;
    border-top-width: 1px;
    border-top-style: dashed;
}

div.reviews-post-date, div.reviews-post-entry {
    padding: 0.5em 1em 0.5em 1em;
    font-weight: normal;
    font-size: 1em;
}

div.reviews-post-date {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

div.reviews-post-text {
    padding: 0.5em 0;
}

/* Post Table: Quote and Author Name Links*/
div.reviews-post-reply-buttons {
    position: relative;
    padding: 0;
    height: 21px;
}

div.reviews-post-reply-buttons span.separator {
    display: inline-block;
    margin: 0 1px;
    width: 1px;
    height: 7px;
    background-color: #E0E0E0;
    line-height: 5px;
}

table.reviews-post-table .reply-action-note {
    display: inline-block;
    margin: 2px;
    color: #777777;
    font-style: italic;
    font-size: 11px;
    line-height: 18px;
}

table.reviews-post-table .reply-action-note:hover {
    text-decoration: none;
}

div.reviews-post-reply-buttons a {
    margin-left: 2px;
    color: #969696;
    text-decoration: none;
    font-size: 11px;
}

div.reviews-post-reply-buttons a:hover {
    text-decoration: underline;
}

/* Post Attachments */
div.reviews-post-attachments {
    margin: 1.5em 0;
}

div.reviews-post-attachments label {
    padding-bottom: 0.5em;
    font-weight: bold;
}

div.reviews-post-attachment {
    padding-left: 0.5em;
}

div.reviews-post-lastedit {
    padding: 0.5em 0;
    font-style: italic;
}

span.reviews-post-lastedit-user {
    font-weight: bold;
}

div.reviews-user-info {
    padding: 0.5em 1em 1.5em 1em;
}

div.reviews-user-avatar {
    margin: 0.5em 0;
}

div.reviews-user-status {
    margin-bottom: 0.5em;
}

div.reviews-user-name span {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.1em;
}

span.reviews-vote-user a {
    vertical-align: top;
    text-decoration: none;
    font-size: 1.1em;
}

div.reviews-contact-links {
    padding: 0.5em 1em 0.5em 1.5em;
}

div.reviews-action-links {
    padding: 0.5em 1.5em 0.5em 1em;
    text-align: right;
}

div.reviews-action-links span {
    white-space: nowrap;
}

div.reviews-post-entry {
    padding-bottom: 1em;
    height: 100%;
    font-size: 1em;
}

/*BBCode: List*/
div.reviews-post-entry ul, div.reviews-post-entry ol {
    padding: 0.5em 0 0.5em 2em;
}

div.reviews-post-entry table.forum-quote, div.reviews-post-entry table.forum-code {
    margin: 0.5em 0 0;
    width: 95%;
}

table.forum-quote th, table.forum-code th {
    padding: 0.25em 1em;
    text-align: left;
    font-weight: bold;
}

table.forum-quote td, table.forum-code td {
    padding: 0.9em 1em 0;
}

div.reviews-code-box {
    overflow: auto;
    margin: 0.5em 0;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    font-size: 1em;
    font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;
}

div.reviews-code-box ol, div.reviews-code-box ol li, div.reviews-code-box ol li span {
    margin: 0;
    padding: 0;
    border: none;
}

div.reviews-code-box ol {
    margin-left: 3em;
    padding: 0.5em 0;
    list-style: decimal;
}

div.reviews-code-box ol li {
    margin: 0;
    padding: 0 0.5em 0 1.5em !important;
    list-style: decimal-leading-zero;
    list-style-position: outside !important;
    line-height: 1.5em;
}

/* Reply Form*/
div.reviews-reply-form {
    margin-bottom: 1em;
    border-width: 1px;
    border-style: solid;
    line-height: 1.5em;
}

div.reviews-reply-header {
    padding: 0.462em 1.117em;
    vertical-align: middle;
    font-size: 1em;
}

div.reviews-note-box {
    margin: 1.117em 0;
    padding: 0.4em 1.117em;
    border-width: 1px;
    border-style: solid;
}

div.reviews-reply-form div.reviews-note-box {
    margin: 1.117em;
}

div.reviews-note-box ul {
    margin: 0;
    padding: 0.3em 0 0.3em 2em;
}

div.reviews-note-box ul li {
    margin: 0;
    padding: 0;
}

div.reviews-reply-fields {
    padding: 0 1.117em 0.8em;
}

div.reviews-reply-field {
    margin-top: 0.462em;
    padding-bottom: 0.462em;
}

div.reviews-reply-field-title input, div.reviews-reply-field-desc input {
    width: 80%;
}

div.reviews-reply-field-title label, div.reviews-reply-field-desc label, div.reviews-reply-field-tags label, div.reviews-reply-field-captcha-label label,
div.reviews-reply-field-lastedit-reason label {
    display: block;
}

div.reviews-reply-field-user {
    width: 100%; /*IE Fix or zoom:1 */
}

div.reviews-reply-field-author, div.reviews-reply-field-email {
    float: left;
    width: 39%;
}

div.reviews-reply-field-user-sep {
    float: left;
    width: 2%;
}

div.reviews-reply-field-author input, div.reviews-reply-field-email input {
    width: 100%;
}

div.reviews-reply-field-bbcode {
    line-height: 1.7em;
    zoom: 1;
}

div.reviews-bbcode-line {
    float: left;
    margin-right: 2em;
}

div.reviews-smiles-line {
    float: left;
    white-space: nowrap;
}

div.reviews-bbcode-line img, div.reviews-smiles-line img {
    border: 0;
}

div.reviews-bbcode-line a, div.reviews-smiles-line a {
    vertical-align: middle;
}

div.reviews-bbcode-line a {
    display: block;
    float: left;
    margin-right: 0.2em;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

div.reviews-bbcode-line a, div.reviews-bbcode-line img, div.reviews-smiles-line a, div.reviews-smiles-line img {
    outline: none;
}

div.reviews-bbcode-line select {
    float: left;
    margin-left: 3px;
    padding: 0px;
    height: 20px;
}

/*BBCode Icons*/
a.reviews-bbcode-bold {
    background-image: url(images/bbcode/font_bold.gif);
}

a.reviews-bbcode-italic {
    background-image: url(images/bbcode/font_italic.gif);
}

a.reviews-bbcode-color {
    background-image: url(images/bbcode/font_color.gif);
}

a.reviews-bbcode-underline {
    background-image: url(images/bbcode/font_underline.gif);
}

a.reviews-bbcode-strike {
    background-image: url(images/bbcode/font_strike.gif);
}

a.reviews-bbcode-url {
    background-image: url(images/bbcode/font_link.gif);
}

a.reviews-bbcode-img {
    background-image: url(images/bbcode/font_image.gif);
}

a.reviews-bbcode-video {
    background-image: url(images/bbcode/font_video.gif);
}

a.reviews-bbcode-code {
    background-image: url(images/bbcode/font_code.gif);
}

a.reviews-bbcode-quote {
    background-image: url(images/bbcode/font_quote.gif);
}

a.reviews-bbcode-video {
    background-image: url(images/bbcode/font_video.gif);
}

a.reviews-bbcode-list {
    background-image: url(images/bbcode/font_list.gif);
}

a.reviews-bbcode-translit {
    background-image: url(images/bbcode/font_translit.gif);
}

div.reviews-reply-field-tags {
    display: none;
}

div.reviews-reply-field-tags input {
    width: 80%;
}

div.reviews-reply-field-lastedit-reason input {
    width: 80%;
}

div.reviews-reply-field-captcha input {
    width: 180px;
}

div.reviews-reply-field-settings input, div.reviews-uploaded-file input, div.reviews-reply-field-lastedit-view input {
    margin: 0 0 0 -0.25em;
    width: 1.55em;
    height: 1.55em;
    vertical-align: middle;
    font-size: 1em;
}

div.reviews-reply-field-settings label, div.reviews-uploaded-file a, div.reviews-reply-field-lastedit label {
    vertical-align: middle;
}

div.reviews-reply-field-upload a {
    outline: none;
}

div.reviews-upload-file-hint {
    display: none;
}

div.reviews-upload-file-hint span {
    font-weight: bold;
}

div.reviews-upload-file {
    display: none;
    margin-top: 0.262em;
}

div.reviews-upload-file input {
    font-size: 1.184em;
}

div.reviews-reply-buttons {
    margin-top: 1em;
}

div.reviews-reply-buttons input {
    overflow: visible;
    padding: 0 0.5em;
    font-size: 1.184em; /*IE paddings*/
}

/* Utils */
div.reviews-clear-float {
    clear: both;
}

/* Table Header, Reply Form Header, BBCode Icons Highlighting */
div.reviews-reply-header, div.reviews-bbcode-line a:hover, div.reviews-bbcode-line a:hover img {
    background-color: #e7e7e7;
}

/* Table Cell Border */
div.reviews-info-box, div.reviews-reply-form {
    border-color: #e1e1e1;
}

/* Table Cell, Info Box, Reply Form */
div.reviews-info-box, div.reviews-reply-form {
    background: #fbfbfb;
}

div.reviews-post-date {
    border-bottom: none;
    background: #eaeaea;
}

/* ---------------------------------------------------Text Color-------------------------------------------------- */

/* Header Box Right Links*/
div.reviews-header-box a:link,
div.reviews-header-box a:visited,
div.reviews-header-box a:active,
div.reviews-header-box a:hover {
    color: #fff;
}

.reviews-required-field {
    color: red;
}

/* --------------------------------------------------Special Elements---------------------------------------------- */

div.reviews-header-box {
    border-color: #7a7a7a;
    background: #6c6c6c;
    color: #fff;
}

/* Page navigation */
div.reviews-navigation-box {
    border-color: #e1e1e1;
    background: #fff;
}

/*BBCode: Quote and Code*/
table.reviews-quote, table.reviews-code, div.reviews-code-box {
    border-color: #c3c3c3;
}

table.reviews-quote td, table.reviews-code td, div.reviews-code-box ol {
    background: #fff !important;
    color: #696969;
}

table.reviews-quote th, table.reviews-code th, div.reviews-code-box {
    background: #e6e6e6 !important;
    color: #616161;
}

div.reviews-note-box {
    border-color: #ffc85e;
    background: #fffdc7;
}

/* --------------------------------------------------Icons---------------------------------------------- */
table.palette {
    border: 1px solid gray;
    border-collapse: collapse;
    background-color: gray;
}

table.palette td {
    margin: 0;
    padding: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid gray;
}

table.palette td img {
    margin: 0;
    padding: 0px;
    width: 10px;
    height: 10px;
    border: none;
}

/* Popups */
div.reviews-popup-postform {
    overflow: hidden;
    margin: 0;
    padding: 0px;
    width: 502px;
    color: black;
}

div.reviews-popup-postform table.reviews-popup {
    width: 500px;
    border: 1px solid gray;
    background-color: white;
    font-size: 1em;
    cursor: default;
}

div.reviews-popup-postform table.reviews-popup td {
    border: none;
    background-color: white;
    font-size: 1em;
    font-size: 1em;
}

div.reviews-popup-postform table.reviews-popup thead td {
    padding: 0.5em 0.5em 0.1em 0.8em;
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
}

div.reviews-popup-postform table.reviews-popup thead td div.close {
    float: right;
    overflow: hidden;
    width: 13px;
    height: 13px;
    background-image: url('images/close.gif');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    cursor: hand;
}

div.reviews-popup-postform table.reviews-popup tbody td {
    padding: 1em;
}

div.reviews-popup-postform table.reviews-popup tbody td div.reviews-field {
    width: 100%;
}

div.reviews-popup-postform table.reviews-popup tbody td div.reviews-field span.title {
    display: block;
    width: 100%;
}

div.reviews-popup-postform table.reviews-popup tbody td div.reviews-field input {
    width: 95%;
}

div.reviews-popup-postform table.reviews-popup tfoot td {
    padding: 0.3em;
    text-align: center;
}

/*/Popups */

div.reviews-smiles-line, div.reviews-smiles-line a, div.reviews-reply-field-bbcode div.reviews-reply-field-showsmiles {
    float: left;
}

div.reviews-smiles-line span.reviews-smiles-item {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
}

div.reviews-smiles-line span.reviews-smiles-item a {
    float: left;
    margin-right: 5px;
    border: none;
    text-decoration: none;
}

div.reviews-smiles-line div.reviews-smiles-item {
    float: left;
}

div.reviews-smiles-corrected {
    overflow: hidden;
}

body.reviews-popup-body {
    padding: 1.51em;
    font-size: 0.75em;
}

form.reviews-form {
    margin: 0;
    padding: 0.8em;
    background-color: #F1F1F1;
}

div.reviews-text table.forum-quote {
    border-color: #EEE9CC;
    background: url("images/font_quote.gif") no-repeat scroll left top #F8F2D4;
    color: #4A483F;
}

div.reviews-text table.forum-quote thead {
    display: none;
}

div.reviews-text table.forum-code thead {
    display: table-cell;
}

div.reviews-text table.forum-quote, div.reviews-text table.forum-spoiler, div.reviews-text table.forum-code, div.reviews-text div.forum-code-box {
    padding: 3px;
    width: 100%;
    border: 1px solid #dddddd;
    table-layout: fixed;
}

div.reviews-text table.forum-quote td, div.reviews-text table.forum-spoiler td, div.reviews-text table.forum-code td, div.reviews-text div.forum-code-box ol {
    color: #696969;
}

div.reviews-text table.forum-quote th, div.reviews-text table.forum-spoiler th, div.reviews-text table.forum-code th, div.reviews-text div.forum-code-box {
    color: #888;
    text-align: left;
    font-weight: bold;
}

div.reviews-text table.forum-code pre {
    overflow: auto;
    width: 100%;
}

div.reviews-text table.forum-code td, div.reviews-text div.forum-code-box td {
    font-size: 12px;
    font-family: "Lucida Console", "DejaVu Sans Mono", Monaco, monospace;
}

div.reviews-collapse {
    /*float: right;*/
    width: 100%;
}

div.reviews-collapse a {
    margin-right: 30px;
    padding: 0.462em;
    line-height: 55px;
}

div.reviews-expanded {
    float: right;
    width: auto;
}

div.reviews-post-entry table.forum-quote {
    border-color: #EEE9CC;
    background: url("images/font_quote.gif") no-repeat scroll left top #F8F2D4;
    color: #4A483F;
}

div.reviews-post-entry table.forum-quote thead {
    display: none;
}

div.reviews-post-entry table.forum-code thead {
    display: table-cell;
}

div.reviews-post-entry table.forum-quote, div.reviews-post-entry table.forum-spoiler, div.reviews-post-entry table.forum-code, div.reviews-post-entry div.forum-code-box {
    padding: 3px;
    width: 100%;
    border: 1px solid #dddddd;
}

div.bx-edit-tab-inner table.bx-edit-table div.reviews-post-entry table.forum-quote td,
div.bx-edit-tab-inner table.bx-edit-table div.reviews-post-entry table.forum-code td {
    padding: 0.9em 1em;
    background-color: transparent;
}

div.reviews-post-entry table.forum-quote td, div.reviews-post-entry table.forum-spoiler td, div.reviews-post-entry table.forum-code td, div.reviews-post-entry div.forum-code-box ol {
    color: #696969;
}

div.reviews-post-entry table.forum-quote th, div.reviews-post-entry table.forum-spoiler th, div.reviews-post-entry table.forum-code th, div.reviews-post-entry div.forum-code-box {
    color: #888;
    text-align: left;
    font-weight: bold;
}

.reviews-actions .ilike-light .bx-ilike-right-wrap {
    margin-right: 2px;
}

.reviews-actions .ilike-light .bx-ilike-right {
    padding: 0px 1px 0 11px;
    font-size: 11px;
    line-height: 19px;
}

.reviews-actions .ilike-light .bx-ilike-text {
    padding: 0;
}

.reviews-post-reply-buttons .bx-rating span, .reviews-post-reply-buttons .bx-rating a {
    color: #929292;
    font-size: 11px;
}

/* autosave */
a.postFormAutosave {
    position: relative;
    z-index: 2;
    display: block;
    float: right;
    margin: 0 -4px 0 0;
    width: 18px;
    height: 18px;
}

.forum-notify-bar {
    position: relative;
    width: 100%;
    height: 2em;
    background: url("/bitrix/js/main/core/images/panel/sprite04.png") repeat-x scroll 0 -1178px #FFEB8D !important;
}

.forum-notify-close {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    display: block !important;
    margin: 3px 6px 0 0;
    padding: 0 !important;
    width: 12px !important;
    height: 12px !important;
}

.forum-notify-close a {
    display: block !important;
    width: 12px !important;
    height: 12px !important;
    background: url("/bitrix/js/main/core/images/panel/sprite04.png") no-repeat scroll -268px -243px transparent !important;
    cursor: pointer;
}

.forum-notify-text {
    margin: 0 !important;
    padding: 3px 20px 5px !important;
    color: #000000 !important;
    text-align: center !important;
}

.forum-notify-text a.postFormAutorestore {
    position: relative;
    z-index: 2;
    margin-top: 5px;
    margin-right: 9px;
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}
